body
{
	background-color:white;
	font-family:helvetica;
	text-align:left;
}
#total_votes
{
	font-size:30px;
	color:#FE2E2E;
	font-weight:bold;
}
.div
{
	border:1px solid #E6E6E6;
	clear:both;
	margin-top:20px;
	height:100px;
	width:400px;
	padding:10px;
	margin-left:100px;
	border-radius:3px;
}
.div p
{
	margin:0px;
	font-size:20px;
	text-align:left;
	color:olive;
    font-weight:bold;
}
img
{
	margin-top:10px;
	width:25px;
	height:25px;
	float:left;
	
}
input[type="submit"]
{
	border:none;
	background:none;
	background-color:dimgray;
	width:80px;
	height:40px;
	color:white;
	border-radius:30px;
	font-size:17px;
    margin-left:150px;
	margin-top:20px;
}